@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
  overflow:hidden;
 }
body{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  
  }
/* Slideshow container */
.slideshow-container {
  width: 90%;
  padding:30px 35px 10px 15px;
  position: absolute;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  z-index:999999;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev{
    left:-7;
}
.next {
  right: -9;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.info{
    width:100%;
    height:300px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top:0;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.container{
display:grid;
grid-template-columns: 1fr 1fr;
    
}

.logo{
overflow:hidden;
background-color: rgb(230, 230, 250);
margin:0;
padding:0;
height:70px;
}

.text-1{
background-color: #E6E6FA;
margin:0;
padding:0;
height:70px;
text-align: right;
}
    
.text-1 h2{
padding:0 15px;
color:blue;
font-family:cursive;
}
    
img{
margin:0;
padding:10px;
}

ul{
list-style-type:none;
overflow:hidden;
margin:0;
padding:0;
background-color: rgb(128, 6, 53);
        
}

li{
    float:right;
}

li a {
display:inline-block;
padding:15px 15px;
text-decoration:none;
color:white;    
}
    
li a:hover, .staffs:hover .dropdown{
background-color: brown;
}

li.staffs{
    display:inline-block;
}

.staff-teacher{
    display:none;
    position: absolute;
    background-color: brown;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.staff-teacher a{
    color:white;
    padding: 10px 10px;
    text-decoration: none;     
    display:block;
    text-align: left;
}

.staff-teacher a:hover{
    background-color:  #CD5C5C;
}

.staffs:hover .staff-teacher{
    display:block;
}

.box{
    position:relative;
}


.slide{
padding:0;
margin:0;
background-repeat: no-repeat;
background-attachment: fixed;
width:100%;
height:549px;
position:relative;
}

.content{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    background-color:rgb(218, 247, 166,0.6);
    width:600px;
    height:500px;
    z-index:1;
    text-align:center;
}


